<% content_for(:title, "Administration - Teachers - edit") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @student do |f| %>
      <%= f.input :first_name, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :last_name, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :email, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :password, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :studytype, collection: Student.studytypes.keys, prompt: "Select a studytype", selected: @student.studytype %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>