<% content_for(:title, "Administration - Teachers - edit") %>

<main class="main">
  <nav class="admin-nav">
    <ul class="admin-ul">
      <li><%= link_to "Administration", {:controller => "administration", :action => "index"}, class: "admin-link" %></li>
      <li><%= link_to "Buildings", {:controller => "administration", :action => "buildings"}, class: "admin-link" %></li>
      <li><%= link_to "Rooms", {:controller => "administration", :action => "rooms"}, class: "admin-link" %></li>
      <li><%= link_to "Teachers", {:controller => "administration", :action => "teachers"}, class: "admin-link" %></li>
      <li><%= link_to "Students", {:controller => "administration", :action => "students"}, class: "admin-link" %></li>
      <li><%= link_to "Lessons", {:controller => "administration", :action => "lessons"}, class: "admin-link" %></li>
      <li><%= link_to "Courses", {:controller => "administration", :action => "courses"}, class: "admin-link" %></li>
    </ul>
  </nav>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @student do |f| %>
      <%= f.input :first_name, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :last_name, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :email, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :password, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :studytype, collection: Student.studytypes.keys, prompt: "Select a studytype", selected: @student.studytype %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>