<% content_for(:title, "Administration - Courses - new course") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>
  <div class="center-me">
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @student do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%#= f.input :studytype, collection: Student.studytype, prompt: "Select a studytype" %>
      <%= f.input :study_type, collection: Student.study_type.values, prompt: "Select a study_type" %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>