<% content_for(:title, "Administration - Buildings") %>

<main class="main">
  <nav class="admin-nav">
    <ul class="admin-ul">
      <li><%= link_to "Administration", {:controller => "administration", :action => "index"}, class: "admin-link" %></li>
      <li><%= link_to "Buildings", {:controller => "administration", :action => "buildings"}, class: "admin-link" %></li>
      <li><%= link_to "Rooms", {:controller => "administration", :action => "rooms"}, class: "admin-link" %></li>
      <li><%= link_to "Teachers", {:controller => "administration", :action => "teachers"}, class: "admin-link" %></li>
      <li><%= link_to "Students", {:controller => "administration", :action => "students"}, class: "admin-link" %></li>
      <li><%= link_to "Lessons", {:controller => "administration", :action => "lessons"}, class: "admin-link" %></li>
      <li><%= link_to "Courses", {:controller => "administration", :action => "courses"}, class: "admin-link" %></li>
    </ul>
  </nav>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <div class="grid-schedule">
      <h1>Buildings</h1>
      <section class="grid-table">
        <table class="table-schedule">
          <thead>
          <tr class="table-head">
            <th>ID</th>
            <th>Code</th>
            <th>Title</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @buildings_data.each do |building| %>
            <tr class="tr-hover">
              <td><%= building.id %></td>
              <td><%= building.code %></td>
              <td><%= building.title %></td>
              <td><%= building.description %></td>
              <td><%= link_to "Edit", edit_building_path(building.id), class: "admin-link" %></td>
              <td>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <%= link_to "Delete", building_path(id: building.id, authenticity_token: form_authenticity_token), data: {method: :delete, confirm: "are you sure?"}, class: "admin-link" %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </section>
    </div>

  </div>

</main>