<% content_for(:title, "Administration - Buildings") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <div class="center-me">
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>
  </div>
    <div class="grid-schedule">
      <h1>Buildings - <%= link_to "Create new building", new_building_path, class: "admin-link" %></h1>
      <section class="grid-table">
        <% if @buildings_data.count < 1 %>
          <h1><%= "Databaze neobsahuje zadne zaznamy." %></h1>
       <% else %>
        <table class="table-schedule">
          <thead>
          <tr class="table-head">
            <th>ID</th>
            <th>Code</th>
            <th>Title</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @buildings_data.each do |building| %>
            <tr class="tr-hover">
              <td><%= building.id %></td>
              <td><%= building.code %></td>
              <td><%= building.title %></td>
              <td><%= building.description %></td>
              <td><%= link_to "Edit", edit_building_path(building.id), class: "admin-link" %></td>
              <td>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <%= link_to "Delete", building_path(id: building.id, authenticity_token: form_authenticity_token), data: {method: :delete, confirm: "are you sure?"}, class: "admin-link" %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
        <% end %>
      </section>
    </div>

  </div>

</main>