<% content_for(:title, "Administration - Courses") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>
  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <div class="grid-schedule">
      <h1>Courses - <%= link_to "Create new course", new_course_path, class: "admin-link" %></h1>
      <section class="grid-table">
        <table class="table-schedule">
          <thead>
          <tr class="table-head">
            <th>ID</th>
            <th>Code</th>
            <th>Title</th>
            <th>Language</th>
            <th>Study type</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @courses.each do |course| %>
            <tr class="tr-hover">
              <td><%= course.id %></td>
              <td><%= course.code %></td>
              <td><%= course.title %></td>
              <td><%= course.language %></td>
              <td><%= course.studytype %></td>
              <td><%= link_to "Edit", edit_course_path(course.id), class: "admin-link" %></td>
              <td>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <%= link_to "Delete", course_path(id: course.id, authenticity_token: form_authenticity_token), data: {method: :delete, confirm: "are you sure?"}, class: "admin-link" %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </section>
    </div>

  </div>

</main>