<% content_for(:title, "Administration - Students") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <div class="grid-schedule">
      <h1>Buildings - <%= link_to "Create new student", new_student_path, class: "admin-link" %></h1>
      <section class="grid-table">
        <table class="table-schedule">
          <thead>
          <tr class="table-head">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Study type</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <% @students.each do |student| %>
            <tr class="tr-hover">
              <td><%= student.id %></td>
              <td><%= student.first_name %></td>
              <td><%= student.last_name %></td>
              <td><%= student.email %></td>
              <td><%= student.studytype %></td>
              <td><%= link_to "Edit", edit_student_path(student.id), class: "admin-link" %></td>
              <td>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <%= link_to "Delete", student_path(id: student.id, authenticity_token: form_authenticity_token), data: {method: :delete, confirm: "are you sure?"}, class: "admin-link" %></td>
            </tr>
          <% end %>

          </tbody>
        </table>
      </section>
    </div>

  </div>

</main>