<% content_for(:title, "Administration - Buildings") %>
<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @buildings do |f| %>
      <%= f.input :code %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>