<main class="main">
  <nav class="breadcrumbs">
    <ul class="breadcrumb">
      <li><a href="<%= root_path %>" class="link-bread">Meeting Center</a></li>
      <li><a href="<%= building_path(@building.id) %>" class="link-bread">Building</a></li>
      <li>Nazev: <%= @building.title %></li>
    </ul>
  </nav>
  <div class="grid-today">
    <div class="today-group">

      <h1>PAR 1.1 - Albrecht</h1>
      <p>Dnes se v budově konají 3 události</p>
    </div>
    <img src="img/par1.1.jpg" alt="" class="today-img">
    <section class="today-schedule">
      <table class="table-schedule">
        <thead>
        <tr class="table-head">
          <th>Čas</th>
          <th>Předmět</th>
          <th>Místnost</th>
          <th>Vyučující</th>
          <th>Průběh</th>
        </tr>
        </thead>
        <tbody>
        <% @building.rooms.each do |r| %>
          <% r.lessons.each do |l| %>
            <% if Date.current == l.start_at.to_date%>

            <tr class="tr-hover-today tr-text">
              <td><%= l.start_at.strftime("%H:%M") %> - <%= l.end_at.strftime("%H:%M") %></td>
              <td><%= l.course.title %> <br></td>
              <td><%= r.title %></td>
              <td><%= l.teacher.first_name + " " + l.teacher.last_name %></td>
              <td>
                <div class="progress-bar">

                  <div class="progress-bar-0">
                    <span class="progress-bar-text">0%</span>
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          <% end %>
        <% end %>


        </tbody>
      </table>
    </section>
  </div>
</main>