<% content_for(:title, "Administration - Rooms - edit") %>

<main class="main">
  <nav class="admin-nav">
    <ul class="admin-ul">
      <li><%= link_to "Administration", {:controller => "administration", :action => "index"}, class: "admin-link" %></li>
      <li><%= link_to "Buildings", {:controller => "administration", :action => "buildings"}, class: "admin-link" %></li>
      <li><%= link_to "Rooms", {:controller => "administration", :action => "rooms"}, class: "admin-link" %></li>
      <li><%= link_to "Teachers", {:controller => "administration", :action => "teachers"}, class: "admin-link" %></li>
      <li><%= link_to "Students", {:controller => "administration", :action => "students"}, class: "admin-link" %></li>
      <li><%= link_to "Lessons", {:controller => "administration", :action => "lessons"}, class: "admin-link" %></li>
      <li><%= link_to "Courses", {:controller => "administration", :action => "courses"}, class: "admin-link" %></li>
    </ul>
  </nav>






  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @lesson do |f| %>
      <%= f.input :start_at, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :end_at, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :duration, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :room_id, collection: Room.all, prompt: "Select a room", selected: @lesson.room_id %>
      <%= f.input :teacher_id, :as => :select, :collection => Hash[Teacher.all.map { |teacher| [teacher.first_name + " " + teacher.last_name, teacher.id] }], selected: @lesson.teacher_id %>
      <%= f.input :course_id, collection: Course.all, prompt: "Select a teacher", selected: @lesson.course_id %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>