<% content_for(:title, "Administration - Lessons - new lesson") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>
  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @lesson do |f| %>
      <%= f.input :start_at %>
      <%= f.input :end_at %>
      <%= f.input :duration %>
      <%= f.input :room_id, collection: Room.all, prompt: "Select a room"  %>
      <%= f.input :teacher_id, :as => :select, :collection => Hash[Teacher.all.map { |teacher| [teacher.first_name + " " + teacher.last_name, teacher.id] }], selected: @lesson.teacher_id %>
      <%= f.input :course_id, collection: Course.all, prompt: "Select a course"  %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>