<% content_for(:title, "Administration - Rooms - edit") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>


  <div class="center-me">
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @room do |f| %>
      <%= f.input :code, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :title, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :building_id, collection: Building.all, prompt: "Select a building", selected: @room.building_id %>
      <%= f.input :capacity, error: 'Value is mandatory, please specify one.'%>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>