<% content_for(:title, "Administration - Teachers - edit") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @course do |f| %>
      <%= f.input :code, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :title, error: 'Value is mandatory, please specify one.'%>
      <%= f.input :language, collection: Course.languages.keys, prompt: "Select a language", selected: @course.language %>
      <%= f.input :studytype, collection: Course.studytypes.keys, prompt: "Select a studytype", selected: @course.studytype %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>