<% content_for(:title, "Administration - Courses - new course") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @course do |f| %>
      <%= f.input :title %>
      <%= f.input :code %>
      <%= f.input :language,  collection: Course.languages.keys, prompt: "Select a language" %>
      <%= f.input :studytype, collection: Course.studytypes.keys, prompt: "Select a studytype" %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>