<% content_for(:title, "Administration - Courses - new course") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @course do |f| %>
      <%= f.input :title %>
      <%= f.input :code %>
      <%= f.input :language_type,  collection: Course.language_type.values, prompt: "Select a language" %>
      <%= f.input :study_type, collection: Course.study_type.values, prompt: "Select a study type" %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>