<% content_for(:title, "Administration - Courses - new course") %>

<main class="main">
  <%=  render 'layouts/adminMenu'%>

  <div class="center-me">
    <% if flash[:errors] %>
      <% flash[:errors].each do |e|%>
        <p><%= e %></p>
      <% end %>
    <%end %>

    <%= simple_form_for @teacherAssignment do |f| %>
      <%= f.input :teacher_id, :as => :select, :collection => Hash[Teacher.all.map { |st| [st.first_name + " " + st.last_name, st.id] }], prompt: "Select a teacher" %>
      <%= f.input :course_id, collection: Course.all, prompt: "Select a course" %>
      <%= f.button :submit %>
    <% end %>
  </div>

</main>